[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pyjwt = "*"
django-cors-headers = "*"
django-six = "*"
djangorestframework = "*"
xmltodict = "*"
django-excel-response2 = "*"
django-admin = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
